body {
     margin:0px;
}
ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0px;
}

footer {
    background: black;
    height: 20%;
    display: flex;
}

li {
    width: 40%;
    background: red;
    color: white;
    list-style: none;
    border: 1px solid blue;
    text-align:center;
    /* height: 100%; */
    flex-grow: inherit;
    align-items: stretch;
}

* {
    font-family:Arial,Helvetica,sans-serif;
    color: white;
}
ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}

footer {
    background: #2d2d2d;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    left: 0px;
}

li {
    width: 40%;
    background: transparent;
    color: white;
    list-style: none;
    text-align:center;
    /* height: 40px; */
    margin-top: -19px;
    border: 0px;
    background: #2d2d2d;
    padding: 10px;
}
html {
    background: #696969;
}
nav {
    width: 100%;
} 
a {
    text-decoration: none;
}
footer nav ul li a i {
    color: #e8e3dd;
}

li:not(:last-child) {
    border-right: 2px solid #ffffff4d;
}
header h1 {
    color: #EC9712;
    text-align: center;
    font-size: 38px;
    margin: 0px;
    padding-bottom:;
}

header {
    top: 0px;
}
header {
    top: 0px;
    padding-top: 14px;
    padding-bottom: 18px;
    background: #2d2d2d;
}
div {
    background: #4a4949;
    padding: 4px;
    text-align: right;
    padding-right: 14px;
    color: #bbb9b9;
}

div a {
    color#bbb9b9:;
    color: #bbb9b9;
}

h2 {
    text-align: center;
}
div#devices {
    display:;
}

h3 {
    flex-wrap: wrap;
    border: 1px solid #b3b1b1;
    margin: 5px;
    padding: 76px;
    text-align: center;
    border-radius: 9px;
    background: #c6c5c578;
}

div#devices {
    background: transparent;
    display: flex;
    flex-direction: column;
}