<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="main.css">

    <script src="./node_modules/web3/dist/web3.min.js"></script>

</head>
<body>
{% extends "layout.html" %}
{% block container %}
<div id=content>
	<h2>My Devices</h2>
	<div class="devices-container">
	<a href="/devices/1/"><div class="device"><img src="/static/fitbit-logo.png" alt="">
	</div></a>
</div>

<div class="mgmt-btn">
	<a href="/devices/new"><button class="btn">Add a new Device</button></a>
</div>
{% endblock %}
<script>
	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	if (typeof web3 !== 'undefined') 
	{
		web3 = new Web3(web3.currentProvider);
	} 
	else 
	{
		// Set the provider you want from Web3.providers
		web3 = new Web3(new Web3.eth.HttpProvider("http://localhost:8545"))
	}
	web3.eth.defaultAccount = web3.eth.accounts[0];
	var RFID2Contract = web3.eth.contract(/*PASTE ABI HERE!*/);
	var RFID2 = RFID2Contract.at(/*PASTE CONTRACT ADDRESS HERE*/);
	console.log(RFID2);
</script> 
</body>
</html>