<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
  <title>Rawls</title>
</head>
<body>
  <header><h1>Rawls</h1></header>

  <main>
    {% block container %}{% endblock %}
  </main>

  <footer>
    <nav>
      <ul>
      	<li><a href="/"><i class="fas fa-home"></i></i></a></li>
      	<li><a href="/user/username/"><i class="fas fa-user"></i></a></li>
      	<li><a href="/devices/new/"><i class="fas fa-book-open"></i></a></li>
        <li><a href="/devices/new/"><i class="fas fa-plus"></i></a></li>
      </ul>
    </nav>
  </footer>
<body>
</html>
