<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Rawls</title>
</head>
<body>
  <header>Rawls<header>
  <div><a href="/login">Login</a> | <a href="/register">Register</a></div>
  {% block container %}{% endblock %}
  <footer>
    <nav>
      <ul>
	<li><a href="/">My Devices</a></li>
	<li><a href="/user/username/">Profile</a></li>
	<li><a href="/stats">Stats</a></li>
	<li><a href="/devices/new/">Add new device</a></li>
      </ul>
    </nav>
  </footer>
<body>
</html>
