{% extends "layout.html" %}
{% block container %}

<div class="block">
	<p>Learn about privacy and Rawls value proposition</p>

	<div class="devices-container">

		<div class="dev">
			<div class="data-icon">
				<i class="fas fa-user-secret"></i>
			</div>
			<div class="dev-name">
				About Rawls
			</div>
			<div class="dev-check checked">
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="data-icon">
				<i class="fas fa-balance-scale"></i>
			</div>
			<div class="dev-name">
				Your rights
			</div>
			<div class="dev-check checked">
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="data-icon">
				<i class="far fa-question-circle"></i>
			</div>
			<div class="dev-name">
				How it works
			</div>
			<div class="dev-check checked">
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>


	</div>
</div>
{% endblock %}
