{% extends "layout.html" %}

{% block container %}

<div class="block">
	<p>Connect a new device to Rawls</p>

	<div class="devices-container">

		<a href="/devices/1">
			<div class="dev">
				<div class="dev-logo ">
					<img src="/static/fitbit-logo.png" alt="">
				</div>
				<div class="dev-name">
					Fitbit
				</div>
				<div class="dev-check checked">
					<i class="far fa-check-circle"></i>
					<i class="fas fa-chevron-right"></i>
				</div>
			</div>
		</a>
		<div class="dev">
			<div class="dev-logo">
				<img src="/static/alexa.png" alt="">
			</div>
			<div class="dev-name">
				Amazon Alexa
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="dev-logo">
				<img src="/static/misfit.png" alt="">
			</div>
			<div class="dev-name">
				Misfit
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>
		<div class="dev">
			<div class="dev-logo">
				<img src="/static/strava.png" alt="">
			</div>
			<div class="dev-name">
				Strava
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="dev-logo">
				<img src="/static/withings.png" alt="">
			</div>
			<div class="dev-name">
				Withings
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="dev-logo">
				<img src="/static/nest.png" alt="">
			</div>
			<div class="dev-name">
				Google Nest
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>

		<div class="dev">
			<div class="dev-logo">
				<img src="/static/garmin.png" alt="">
			</div>
			<div class="dev-name">
				Garmin
			</div>
			<div class="dev-check">
				<i class="far fa-times-circle"></i>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>


	</div>
</div>

{% endblock %}
