{% extends "layout.html" %}
{% block container %}
<h1>My Fitbit</h1>
<h3>Data collected</h3>
<table>
  <tr>
    <th>Type of Data</th>
    <th>Permission</th>
  </tr>
  <tr>
    <td>Gender</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>City</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Job</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Weight</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Heart Rate</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Sleeping Cycles</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Activity Frequency</td>
    <td>Yes</td>
  </tr>

</table>
{% endblock %}
