{% extends "layout.html" %}

{% block container %}

<h1>My Fitbit</h1>

<div class="block">
    <p>Allow Fitbit to sell standard data:</p>
    <div class="data-container">

      <div class="dev">
        <div class="data-icon">
          <i class="far fa-user"></i>
        </div>
        <div class="data-name">
          Biological sex
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="far fa-user"></i>
        </div>
        <div class="data-name">
          Age
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-location-arrow"></i>
        </div>
        <div class="data-name">
          Location
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>


    </div>

    <p>Allow Fitbit to sell specific data:</p>
    <div class="data-container">

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-male"></i>
        </div>
        <div class="data-name">
          Height
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-weight"></i>
        </div>
        <div class="data-name">
          Weight
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="data-name">
          Heart Rate
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-bed"></i>
        </div>
        <div class="data-name">
          Sleeping Cycles
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="dev">
        <div class="data-icon">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="data-name">
          Activity Frequency
        </div>
        <div class="div-switch">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

    </div>

</div>
<button class="btn red"><a href="/devices/1/delete"> Remove Device</button>

{% endblock %}
