{% extends "layout.html" %}
{% block container %}
<h1>My Fitbit</h1>


<h3>Basic information</h3>
<div class="data-container">
  <div class="data-row">
    <div class="data-type">
      Gender
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="data-row">
    <div class="data-type">
      Age
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="data-row">
    <div class="data-type">
      City
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="data-row">
    <div class="data-type">
      Job
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<h3>Specific information</h3>
<div class="data-container">
  <div class="data-row">
    <div class="data-type">
      Weight
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="data-row">
    <div class="data-type">
      Heart Rate
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="data-row">
    <div class="data-type">
      Sleeping Cycles
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="data-row">
    <div class="data-type">
      Activity Frequency
    </div>
    <div class="div-switch">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<div><a href="/devices/1/edit">Edit</a> | <a href="/devices/1/delete">Delete</a></div>
{% endblock %}
